@font-face {
    font-family: Qwigley;
    src: url("../fonts/Qwigley-Regular.ttf");
}

body {
  color: #754b23;
  margin: 0;
}

.app {
  .center {
    text-align: center;
  }
  .container {
    margin: auto;
    width: 1000px;
  }
}
