.about-main {
  display: table-cell;
  font-family: Helvetica, Arial, sans-serif;
  width: 55%;
}

.about-sidebar {
  background-image: url("../../assets/images/strips1.png");
  background-position: right top;
  background-repeat: repeat-y;
  display: table-cell;
  position: relative;
  width: 45%;

  img {
    position: absolute;
    left: 15%;
    top: 15%;
  }
}

.disclaimer {
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  z-index: 1;
}
