.main {
  display: table-cell;
  font-family: Helvetica, Arial, sans-serif;
  width: 55%;
}

.sidebar {
  background-image: url("../../assets/images/strips2.png");
  background-size: contain;
  display: table-cell;
  position: relative;
  width: 45%;

  img {
    position: absolute;
    right: 20%;
    top: 10%;
  }
}
