header {
  border-bottom: 24px solid #754b23;
  position: relative;
}

.top-image {
  background-image: url("../../assets/images/header.png");
  background-repeat: no-repeat;
  height: 100px;
}

.slogan {
  font-family: "Qwigley", cursive;
  font-size: 2rem;
  font-weight: normal;
}
